
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans:wght@300&family=Raleway&display=swap');


.title {
    font-family: 'Abel', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: rgb(73, 99, 132);
}
.navbar {
    background-color: rgb(50, 73, 115);
    text-align: end;
    padding: 20px;
}
.main-link {
    color: white;
    padding: 10px;
    font-family: 'Abel', sans-serif;
    text-decoration: none;
}
.image {
    text-align: center;
}
.home-image {
    height: 70%;
    width: 70%;
}
